*{
	padding: 0;
	margin:0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@font-face{
	font-family: 'darkforest';
	src:url(../fonts/darkforest.ttf);
}
@font-face{
	font-family: 'Pamela';
	src:url(../fonts/pamela.ttf);
}
@font-face{
	font-family: 'rexlia';
	src:url(../fonts/rexlia.ttf);
}
@font-face{
	font-family: 'Quicksand-Regular';
	src:url(../fonts/Quicksand-Regular.otf);
}
html,body{
	height: 100%;
	width: 100%;
}
#header{
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #D1D5D4;
	background:#E1E3E4;
	box-shadow: 0 0 3px black;
	float: left;
}
.h1-container{
	height: 100px;
	float: left;
	background-color: #3C948B;
	width: 15%;
}
h1{
	
	margin: 0px !important;
	margin-top: 3px;
	font-family:'darkforest' !important;
	color: white !important; 
	font-weight: 100 !important;
	font-size: 30px !important;
	margin-top: 33px !important;
}
.logo{
	float: left;
	height: 100px;
	background-color: #1A1A1A;
	border-right: 1px solid black;
	border-left: 1px solid black;
	width: 8%;

}
li{
	text-decoration: none;
	display: inline-block;
}
a {
	text-decoration: none !important;
	height: 100px;
	width: 100px;
	font-family: 'Quicksand-Regular';
	text-transform: uppercase;
	color: black;
	padding-top: 33px;
	float: left;
}
.issues
,.new-issue,.theme-1,.theme-2,.theme-3{
	float: left;
	height: 100px;
	width: 110px;
	border-right: 1px solid #D1D5D4;
	text-align: center;
}
.navMenus{
	float: left;
	width: 77%;
}
.themes{
	float:right;
}
.theme-1,.theme-2,.theme-3{
	border-right: none !important;
	border-left: 1px solid #D1D5D4 !important;
}
li:hover{
	background-color: white;
	color: rgba(16, 6, 6, 0.73);
	transition:.7s;
}
.formEnter{
	text-align: center;
}
.input{
	width:320px;
	height: 60px;
	border: 4px solid rgb(0, 65, 128);
	border-left: none;
	border-right: none;
	outline: none;
	padding:9px;
	font-size: 20px;
	margin-top: 10px;
	background:none; 
}
input[placeholder]{
	font-family: 'Quicksand-Regular';
	font-weight: bold;
}
::-webkit-input-placeholder {
    color:grey;
}
.button-group{
	padding-top: 29px;
text-align: center;
}
.square-button {
height: 40px;
/*width: 102px;*/
width: 10%;
border: 1px solid rgb(0, 65, 128);
font-family: 'Quicksand-Regular';
cursor: pointer;
background-color: #3C948B;
font-weight: bold;
}
.square-button:hover{
	background-color: #90B3B0;
	transition:.6s;
}
.content{
height: 100%;
padding-top: 100px;
background-image: url(../images/White-Background-Wallpaper.jpeg);
}
heading{
float: left;
width: 100%;
}
.row.my-row{
	width: 100%;
	margin: 0 ;
	margin-top: 10%;
}
.form-myclass{
	text-align: center;
}
.row.table-row {
margin: 0 auto;
width: 80%;
text-align: center;
margin-top: 5%;
}
.table.table-myclass{
	background-color: rgb(60, 148, 139);
	color: white;
	text-align: center;
	font-family: 'Quicksand-Regular';
	font-weight: bolder;
	font-size: 18px;
	box-shadow: 0 0 4px grey;
	border-left: 6px solid white;
	border-right: 6px solid white;
	cursor: pointer;
}

tr th,td{
	text-align: center !important;
	border-right: 1px solid white;
}
tr:hover{
	background-color: rgba(107, 190, 182, 0.98);
	color:grey;
	transition:.4s;
}
th{
	background-color: black !important;
}
input{
	width: 72%;
border: 1px solid;
/*border-radius: 4px;*/
height: 37px;
color: black !important;

}
input[type=range] {
display: block;
width: 100%;
width: 40% !important;
margin: 0 auto;
-webkit-appearance:none !important;
margin-top: 11px !important;
	border-radius: 8px; 
height: 9px;
 border: 1px solid black;
outline: none;
cursor: pointer
 background-color: rgb(200, 200, 200) ;
}
.animate{
	border-top: 8px solid rgb(0, 65, 128);
	border-bottom :8px solid rgb(0, 65, 128);
	transition: .5s;
	background-color: rgb(255, 255, 255);

}
 .priority-input{
	border-radius: 3px;
	width: 56px;
	float: left;
} 